#TotalNum svg, #rateDistribution canvas {
    overflow: visible;
}
#favoriteActor .ant-card{
    width: 240px;
    height:auto;
    margin: 0 auto;
}
.emphatic {
    font-size: 1.5em;
    font-weight: bold;
    color: #1890ff;
}